
.autocomplete-input {
    width: 277px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid var(--admin-input-user-placeholder-color);
    color:var(--admin-input-user-color);
    border-radius: 4px;
}
  
.no-suggestions {
    color: var(--admin-input-user-placeholder-color);
    padding: 0.5rem;
}
  
.suggestions {
    border: 1px solid var(--admin-input-user-placeholder-color);
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 150px;
    overflow-y: scroll;
    padding-left: 0;
    width: calc(300px + 1rem);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}
  
.suggestions li {
    padding: 0.5rem;
}
  
.suggestion-active,
.suggestions li:hover {
    background-color: var(--admin-input-user-color-hover);
    cursor: pointer;
    font-weight: 600;
}
  
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid var(--admin-input-user-placeholder-color);
}
