#header {
    height: 100px;
    background-color: var(--white-color);
    padding: 0px 50px;
    display: grid;
    align-items: center;
}

#header h1 {
    margin: 0px;
}

.h-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.h-settings * {
    float: right;
}